.navbar-nav {
  margin-left: auto;
}

/* Base background */

body {
  margin: 0;
  background: #0b0b0b;
}

/* Static overlay */

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
  background-image: url("../../assets/img/noise.png");
  background-repeat: repeat;
  background-size: 160px 160px;
  opacity: 0.15;
  mix-blend-mode: overlay;
  /*try: overlay | soft-light | screen;*/
  transform: translateZ(0);
  animation: noiseShift 120ms steps(2) infinite;
}

@keyframes noiseShift {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2%, 1%);
  }
  50% {
    transform: translate(-1%, -2%);
  }
  75% {
    transform: translate(2%, 2%);
  }
  100% {
    transform: translate(1%, -1%);
  }
}

:root {
  --bs-font-sans-serif: "Azeret Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

